* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background: url('../imagens/fundo_menu_cabuailo.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column
}

p {
    font-size: 2em;
}

h1 {
    font-size: 15em;
}

navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 80px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    z-index: 9999;
}

navbar {
    transition: all 700ms ease-in-out;
}

.scroll-down navbar {
    transform: translate3d(0, -100%, 0);
}

.scroll-up navbar {
    filter: drop-shadow(0 -10px 20px rgb(170,170,170));
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-left: 70px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #3299CC	;
}

.d2 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.--titulo {
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 60%;
    padding: 0px 80px;
}

button {
    width: 10em;
    padding: 1em;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    font-size: 1em;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    transition: 1s;
}

button:hover {
    cursor: pointer;
    color: #3299CC;
}

.sec1 {
    height: 100vh;
    aspect-ratio: 1;
    background: #675D50;
    filter: drop-shadow(0 -25px 20px rgb(40, 40, 40));
}

section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 50%;
    aspect-ratio: 1;
    color: white;
}

.text {
    color: white;
    padding: 0px 80px;
    height: 50%;
}

.hidden-titulo {
    display: none;
}

/* estes estilos são aplicados apenas a classe animated-text */
.hidden .animated-text {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible .animated-text {
    opacity: 1;
    transform: translateY(0);
}

.sec2 {
    height: 100vh;
    aspect-ratio: 1;
    background: #EDDBC7;
    filter: drop-shadow(0 -25px 20px rgb(40, 40, 40));
}

/* mudar depois : */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10em;
    background: #EDDBC7;
    z-index: 1;
}

footer button {
    color: black;
    background: white;
    transition: 1s;
}

footer button:hover {
    background: #3299CC;
    color: white;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form input {
    padding: 1em;
}