* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background: url('../imagens/fundo_menu_cabuailo.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column
}

navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 80px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    z-index: 9999;
}

navbar {
    transition: all 700ms ease-in-out;
}

.scroll-down navbar {
    transform: translate3d(0, -100%, 0);
}

.scroll-up navbar {
    filter: drop-shadow(0 -10px 20px rgb(170,170,170));
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-left: 70px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #3299CC	;
}

.d2 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 60%;
    padding: 0px 80px;
}

p {
    font-size: 2em;
}

.cabuailo--titulo {
    color: white;
    text-align: right;
    text-transform: uppercase;
    position: fixed;
}

.--title {
    font-size: 15em;
}

.d3 {
    height: 100vh;
    aspect-ratio: 1;
    background: #C7BCA1;
    filter: drop-shadow(0 -25px 20px rgb(40, 40, 40));
}