@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

/*
 centralizar qualquer objeto em tela, não tem como errar com todos
 os atributos possíveis né só trocar row ou column no flex
 direction e vai ser feliz
*/

.centralizar {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

/*
 configurações de estilo gerais, overflow hidden para esconder scrollbars indesejadas
*/

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
    padding: 0;
    margin-top: 0; /*ajustar espaçamento, fica agradável*/
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: none;
    border-radius: 15px;
}

/*
 ajustar o formulário para exibir conteúdo
 um em cima do outro ( flex direction column)
*/

.form-inv {
    display: flex;
    flex-direction: row;
    justify-content: center; /*alinha na direita (eixo X)*/
    align-items: center; /*alinha na vertical*/
    width: 500px;
    height: 100vh;
    background-image: linear-gradient(-90deg, cornflowerblue, purple);
    background-size: 400% 400%; /* ESSENCIAL PARA ANIMAR O GRADIENTE */
    animation: gradientAnimation 5s ease infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 20px;
    background: #F2F2F2;
}

/*
 ajustar posicionamento da div
 checkbox 
*/

.checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
    background: none;
}

button {
    background: none;
    padding: 5px;
    border-radius: 15px;
}