@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

:root {
    --gradient: linear-gradient(-45deg, black, rgba(255, 255, 255, 0));
    --transparencia: linear-gradient(-90deg, black, rgba(255, 255, 255, 0));
}

/*
 centralizar qualquer objeto em tela, não tem como errar com todos
 os atributos possíveis né só trocar row ou column no flex
 direction e vai ser feliz
*/

.centralizar {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

/*
 configurações de estilo gerais, overflow hidden para esconder scrollbars indesejadas
*/

body {
  font-family: Arial, sans-serif;
  background-image: url("cara-barbeando.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

/*
 ajustar o formulário para exibir conteúdo
 um em cima do outro ( flex direction column)
*/

.form-inv {
    display: flex;
    flex-direction: row;
    justify-content: center; /*alinha na direita (eixo X)*/
    align-items: center; /*alinha na vertical*/
    width: 700px;
    height: 90vh;
    border: 2px solid white;
    border-radius: 0 0 100% 0/0 0 50% 0; /* CRIAR FORMATO */
    background-image: var(--gradient);
    background-size: 400% 400%; /* ESSENCIAL PARA ANIMAR O GRADIENTE */
    animation: gradientAnimation 10s ease infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: solid white;
    border-radius: 20px;
    background: none;
}

h1 {
    padding: 0;
    margin-top: 0; /*ajustar espaçamento, fica agradável*/
    color: white;
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: none;
    border: solid white;
    border-radius: 15px;
}

input:focus {
    outline: none;
    caret-color: white;
}

::placeholder {
    color: white;
}

/*
 ajustar posicionamento da div
 checkbox 
*/

.checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
    background: none;
    color: white;
}

button {
    background: none;
    padding: 5px;
    border: solid white;
    color: white;
    border-radius: 15px;
    transition: 1s;
}

button:hover {
    background: white;
    color: black;
    cursor: pointer;
}

a {
    color: white;
    transition: .5s;
}

a:hover {
    color: red;
}