/* DIVs para AJUSTE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background: url('../imagens/cara-barbeando.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.container1 {
    position: relative;
    width: 100%;
    height: 300px;
    padding: 50px 70px 30px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
}



/* DIVs para ESTILIZAÇÃO*/
/*Estilização container1*/
/* Content*/
.content h2 {
    font-size: 3em;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.content p {
    font-size: 1em;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
/* Parte dos INPUTS de CADASTRO*/
.formulario {
    width: 100%;
    height: 100vh;
    padding: 0 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formulario .login {
    width: 50%;
    height: 100vh;
    position: relative; 
}

.login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: rgba(217, 217, 217, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: white;
    padding: 0 25px 0 45px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: black;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    font-size: 0.8em;
    top: -10px;
    left: 17px;
    z-index: 100;
}

.input-box .icon {
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 1.2em;
    color: black;
    z-index: 10;
}


.login h2 {
    font-size: 2em;
    color: white;
    text-align: center;
}

/* Aceito os TERMOS DE USO INPUT*/
.login .aceito {
    font-size: 1em;
    color: white;
    font-weight: 500;
    margin: -25px 0 15px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aceito label input {         
    accent-color: red;  /*Mudar a COR da CHECKBOX */
    margin-right: 10px;
}

.aceito a {
    color: red;
    font-weight: 700;
}

/*- BOTÃO REGISTRAR*/
.login .btn-login {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;   
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(19, 19, 19);
    background-color: #9A7647;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
}

.login .btn-login:hover {
    background-color: #6d593e;
}

.login .fazer_login {
    font-size: 0.9em;
    color: white;
    text-align: center;
    margin: 20px 0;
}

.login .fazer_login p a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding-left: 10px;
}

.login .fazer_login p a:hover {
    text-decoration: underline;
}

#picture__input {
    display: none;
  }
  
  .picture {
    width: 400px;
    height: 400px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }
  
  .picture:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .picture__img {
    max-width: 100%;
  }
  