.inputs input {
  border-radius: 40px;
}

h1 {
  font-size: 1.5rem;
}

.input_box {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.inserir_imagem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 15.625rem;
}

.inserir_imagem input {
  width: 100%;
}