/* Configuração global CSS, não utilizar tamanhos ou configurações de estilo */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Configuração do body / html, aqui podemos utilizar cores e configurações de estilo */
body {
  background: var(--cor-clara);
  color: var(--cor-escura);
  overflow-x: hidden;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  font-size: 1rem;
}

p {
  margin: 0;
}

/* Variáveis */
:root {
  --cor-clara: #f7f7f7;
  --cor-escura: #2C3639;
}

/* Navbar e funcionalidades um ao lado do outro */
main {
  display: flex;
  flex-direction: row;
}

aside {
  width: 300px;
  height: 100%;
  background: var(--cor-escura);
  position: fixed;
  overflow-y: auto;
}

aside::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

aside::-webkit-scrollbar-thumb {
  background-color: slateblue;
  border-radius: 40px;
}

aside::-webkit-scrollbar-button {
  height: 75px;
}

navbar {
  width: 100%;
}

.titulo_navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  height: 6rem;
  border-bottom: 1px solid var(--cor-clara);
}

.logo_cabuailo {
  height: 5rem;
  width: 5rem;
}

aside h1 {
  color: var(--cor-clara);
}

.navlinks {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: clamp(1rem, 1vw, 1rem);
  padding: 40px 0px 0px 0px;
}

.navlinks input {
  width: 85%;
  align-self: center;
  background: var(--cor-clara);
  color: var(--cor-escura);
  border: none;
  margin-bottom: 25px;
  border-radius: 40px;
  transition: .5s;
}

.navlinks input::placeholder {
  color: var(--cor-escura);
}

nav .navlinks a {
  color: var(--cor-clara);
  text-decoration: none;
  padding: 25px 25px 25px 25px;
  transition: .2s;
}

nav .navlinks a:hover {
  color: var(--cor-escura);
  background: var(--cor-clara);
}

input {
  width: clamp(5em, 100%, 20em);
  padding: 1rem;
  font-size: clamp(1em, 2.5vw, 1em);
  background: var(--cor-escura);
  color: var(--cor-clara);
  border: none;
  border-radius: 40px;
  transition: .5s;
}

input::placeholder {
  color: var(--cor-clara);
  margin-left: 50px;
}

/* Tela com as funcionalidades */
.principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 300px;
  gap: calc(1013px/28);
}

.navbar_topo {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  padding: 0px 100px 0px 100px;
  background: var(--cor-clara);
  border-bottom: 1px solid var(--cor-escura);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.usuario_logado {
  gap: 25px;
  align-items: center;
}

.usuario_logado .foto_perfil {
  background: url(../imagens/pfp.jpg);
  background-position: center;
  background-size: 100%;
  border-radius: 100%;
  width: 75px;
  aspect-ratio: 1;
}

.usuario_logado {
  display: flex;
}

.container_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  padding: 0px 100px 100px 100px;
}

.descricao_geral h1 {
  font-size: 4.2rem;
  font-weight: 800;
  margin: 0;
}

.titulo_configs {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.titulo_configs h2 {
  margin: 0;
}

button {
  width: 8rem;
  font-size: 1rem;
  padding: .7rem;
  background: var(--cor-escura);
  color: var(--cor-clara);
  border: 1px solid var(--cor-clara);
  border-radius: 40px;
  transition: .5s;
}

button:hover {
  border: solid 1px var(--cor-escura);
  background: var(--cor-clara);
  color: var(--cor-escura);
  cursor: pointer;
}

.configs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.configs input {
  width: 85%;
  background: var(--cor-clara);
  color: var(--cor-escura);
  border: 1px solid var(--cor-escura);
  border-radius: 40px;
  transition: .5s;
}

.configs input::placeholder {
  color: var(--cor-escura);
  font-size: 1rem;
}

.configs button {
  width: 10rem;
}

.sub_table {
  font-size: .8rem;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px 0px 50px 0px;
  gap: 25px;
  background: var(--cor-escura);
  color: var(--cor-clara);
}

footer .nome_empresa {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 25px;
}

.info_cabuailo {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  width: 35%;
  height: fit-content;
  gap: 10px;
}

footer .links_navegacao_footer {
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

footer .links_navegacao_footer a {
  color: var(--cor-clara);
  text-decoration: none;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .links_navegacao_footer a:hover {
  color: #3299cc;
}

li {  
  display: inline-block;
}