/* Configuração global CSS, não utilizar tamanhos ou configurações de estilo */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Configuração do body / html, aqui podemos utilizar cores e configurações de estilo */
body {
  background: #202020;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  font-size: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;900&display=swap');

/* Configuração do pre loader */
#pre_loader {
  background: #131316;
  height: 100dvh;
  width: 100%;
  position: fixed;
  z-index: 100;
  cursor: none;
}

#blur {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#blob {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  height: 750px;
  aspect-ratio: 1;
  background: linear-gradient(
      to right,
      #6A2C70,
      #B83B5E,
      #F08A5D,
      #F9ED69
  );
  animation: girar_blob 15s infinite alternate;
}

@keyframes girar_blob {
  from {
      rotate: 0deg;
  }

  50% {
      scale: 1 1.5;
  }

  to {
      rotate: 360deg;
  }
}

#titulo_loading {
  font-size: clamp(3rem, 10vw, 10rem);
  color: #131316;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  margin: 0rem;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 3;
}

/* Este faz o menu hamburguer aparecer em dispositivos menores */
@media (max-width: 1809px) {
  .navlinks {
    display: none;
  }

  .botao_nav button {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .linha_hamburguer {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
}

/* Este faz o menu hamburguer sumir */
@media screen and (min-width: 1810px) {
  .hamburger {
    display: none;
  }
}

.linha_hamburguer {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

/* Configurações Navbar */
navbar {
  width: 100%;
  display: flex;
  position: fixed;
  padding: 0px 0px 0px 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1;
}

/* Animação da navbar com base no estado do scroll com transição gradual */
navbar {
  transition: all 700ms ease-in-out;
}

/* Move a navbar pra cima em relação posição original em 2 dimensões (x (horizontal), y (vertical)) */
.scroll-down navbar {
  transform: translate(0, -100%);
}

#logo_cabuailo {
  height: 128px;
  width: 128px;
}

nav {
  width: 100%;
  --contentWidth: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem max(2rem, 50vw - var(--contentWidth) / 2);
  gap: 125px;
}

nav .botao_nav {
  display: flex;
  gap: 125px;
}

nav a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  margin-left: 125px;
  transition: 0.3s;
}

nav a:hover {
  color: #3299cc;
}

li {  
  display: inline-block;
}

/* Estilos do elemento main onde temos título, subtítulo e botões */
.conteudo_principal {
  height: 100vh;
  height: 100svh;
  background: url("../imagens/fundo_menu_cabuailo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sobre_cabuailo {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0px 80px;
  gap: 20px;
  width: clamp(20rem, 100%, 70rem);
}

.sobre_cabuailo p {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  margin: 0;
}

.sobre_cabuailo h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 900;
  margin: 0;
}

.botao_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  gap: 40px;
}

/* Mudar direção dos containers para column em dispositivos mobile */
@media (min-width: 50px) and (max-width: 450px) {
  navbar {
    padding: 0px 0px 0px 32px;
  }

  #logo_cabuailo {
    height: 72px;
    width: 72px;
    align-self: center;
  }

  .sobre_cabuailo {
    margin-top: 25px;
  }

  .botao_container {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    align-content: flex-start;
  }

  #secao_servicos {
    flex-direction: column;
  }

  .imagens_row {
    display: flex;
    flex-direction: column;
  }

  #secao_depoimentos .container_cards {
    flex-direction: column;
    gap: 40px;
  }
}

@media (min-width: 450px) and (max-width: 1430px) {
  #secao_depoimentos .container_cards {
    flex-direction: column;
    gap: 40px;
  }

  .imagens_row {
    display: flex;
    flex-direction: column;
  }
}

.botao_positivo {
  background: rgba(217, 217, 217, 0.01);
  border: 3px solid #21EB00;
  border-radius: 40px;
  color: #21EB00;
  backdrop-filter: blur(15px);
}

.botao_positivo:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.botao_saiba {
  width: clamp(5em, 15em, 20em);
  padding: 1em;
  font-size: clamp(1em, 2.5vw, 2em);
  text-align: left;
  color: white;
  border-left: solid 5px #FFF;
  border-bottom: none;
  border-right: none;
  border-top: none;
  background: none;
}

button {
  width: clamp(5em, 100%, 20em);
  padding: 1rem;
  font-size: clamp(1em, 2.5vw, 2em);
  color: white;
  border: solid rgba(217, 217, 217, 0.01);
  transition: 1s;
}

/* Saindo da página principal */
#secao_servicos {
  background: #675d50;
  filter: drop-shadow(0 -25px 20px rgb(40, 40, 40));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#secao_servicos h1 {
  color: white;
  font-size: clamp(1em, 5vw, 2em);
}

#secao_servicos .imagens_row {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.imagens_row figure {
  align-self: center;
  text-align: center;
}

.imagens_row figure img {
  height: clamp(5rem, 40vh, 40rem);
  border-radius: 15px;
  aspect-ratio: 1;
  background: #202020;
  margin: 0 10px;
}

.imagens_row figure figcaption {
  color: #fff;
}

.text {
  color: white;
  padding: 0px 80px;
}

#secao_depoimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#secao_depoimentos h1 {
  color: white;
  font-size: clamp(1em, 5vw, 2em);
}

#secao_depoimentos .container_cards {
  display: flex;
  gap: 40px;
}

#secao_depoimentos .container_cards .card_cliente {
  height: 15rem;
  aspect-ratio: 1;
  background: #fff;
}


#secao_cta {
  height: 60vh;
  height: 60svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#secao_cta header h1 {
  text-align: center;
  font-size: clamp(1em, 8vw, 2em);
}

#titulo_cta {
  color: #fff;
  font-size: clamp(1em, 4vw, 2em);
}

#secao_cta .form_contato {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}

#secao_cta .form_contato .input_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.input_section input, textarea {
  border: 1px solid white;
  padding: 20px;
  background: none;
  border-radius: 40px;
  height: 57px;
  font-family: 'Overpass', sans-serif;
}

.form_contato .botao_enviar {
  width: 100%;
  color: #202020;
  border-radius: 40px;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 20px;
  padding: 0;
}

footer ul a {
  font-size: 0.8rem;
}

/* Estes estilos são aplicados apenas a classe animated-text */
.hidden .animated_text {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible .animated_text {
  opacity: 1;
  transform: translateY(0);
}