/* Configuração global CSS, não utilizar tamanhos ou configurações de estilo */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Configuração do body / html, aqui podemos utilizar cores e configurações de estilo */
body {
  background: #E8EEFF;
  color: #2C3639;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  font-size: 1rem;
}

.desaparecer {
  opacity: 0;
}

/* Apagar bolinha li */
li {  
  display: inline-block;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

aside {
  width: 300px;
  height: 100%;
  background: #2C3639;
}

.titulo_navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  border-bottom: 1px solid #E8EEFF;
}

.logo_cabuailo {
  height: 5rem;
  width: 5rem;
}

aside h1 {
  color: #E8EEFF;
}

.navlinks {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 1vw, 2rem);
  padding: 40px 20px 0px 20px;
  gap: 35px;
}

nav .navlinks a {
  color: #E8EEFF;
  text-decoration: none;
}

nav .navlinks a:hover {
  text-decoration: underline;
}

.principal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.navbar_topo {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  padding-left: 50px;
  border-bottom: 1px solid #2C3639;
}

.navbar_topo input {
  height: 50%;
  background: #2C3639;
  color: #E8EEFF;
  border: none;
  border-radius: 40px;
  transition: .5s;
}

main .secao_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 50px;
}

main .descricao_geral {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.descricao_geral h1 {
  font-size: 4.2rem;
  font-weight: 800;
  margin: 0;
}

.descricao_geral p {
  margin: 0;
  font-size: 1.5rem;
}

.container_botoes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.formulario_admin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.formulario_admin input {
  width: 100%;
}

.container_botoes button {
  width: clamp(5em, 100%, 6em);
  padding: 1rem;
  font-size: clamp(1em, 2.5vw, 1.5em);
  background: #2C3639;
  color: #E8EEFF;
  border: 1px solid #E8EEFF;
  border-radius: 40px;
  transition: .5s;
}

button:hover {
  border: solid 1px #2C3639;
  background: #E8EEFF;
  color: #2C3639;
  cursor: pointer;
}

input {
  width: clamp(5em, 100%, 20em);
  padding: 1rem;
  font-size: clamp(1em, 2.5vw, 1em);
  background: #2C3639;
  color: #E8EEFF;
  border: none;
  border-radius: 40px;
  transition: .5s;
}

input::placeholder {
  color: #E8EEFF;
  margin-left: 50px;
}

.botao_acao {
  width: clamp(5em, 100%, 100%);
  padding: 1rem;
  font-size: clamp(1em, 2.5vw, 1.5em);
  border: 1px solid #E8EEFF;
  border-radius: 40px;
  transition: .5s;
  background: #2C3639;
  color: #E8EEFF;
}