* {
    -webkit-box-sizing: border-box;
}

body {
    background-image: url(/public/usuario/image/Vector\ 1\ \(4\).svg);
    background-repeat: no-repeat;
    background-size: 130%;
}

nav {
    display: flex;
    justify-content: center;
}