@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

/*
 centralizar qualquer objeto em tela, não tem como errar com todos
 os atributos possíveis né só trocar row ou column no flex
 direction e vai ser feliz
*/

.centralizar {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

/*
 configurações de estilo gerais, overflow hidden para esconder scrollbars indesejadas
*/

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}
  
/* 
 barra de navegação
*/

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
  
header nav a {
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  margin-left: 75px;
  margin-right: 75px;
  text-decoration: none;
  transition: 1s;
}
  
header nav a:hover {
  background-color: #ddd;
  color: #333;
}

/*.btn {
  padding: 10px 8px;
  border: #333 solid;
  border-radius: 15px;
  background: #fff;
  text-align: center;
}

.btn:hover {
  background: #851111;
  transition: background 1s;
}
  
/*
 titulo / subtitulo 
*/

section h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 9.3rem;
  margin-top: 50px;
  margin-bottom: 0px;
  animation: quica 5s;
}

@keyframes quica {

  0% {
    left: 0px; rotate: 0deg; 
  }
  50% {
    left: 200px; rotate: 180deg; color: #1488F5;
  }
  100% {
    rotate: 360deg;
  }

}
      
section p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 50px;
  margin-top: 15px;
}
  
/*
 imagens não selecionadas então fique com esse placeholder
 são quadrados com cores que já existem no documento
 seu texto é centralizado e a propriedade margin serve para espaçar
*/

.quadrado-placeholder {
  position: relative;
  background: #333;
  color: #ddd;
  width: 311px;
  height: 310px;
  border-radius: 15px;
  margin: 20px;
  animation-fill-mode: forwards; /* TENTANDO MANTER O ESTADO FINAL DA ANIMAÇÃO */
}

/*

TO PARECENDO UM MALUCO:

@keyframes quadrado_voa
{
  0% { left: 560px; top:250px; rotate: 0deg; }
  50% { left: 270px; top:500px; rotate: 180deg; }
  100% { left: 180px; top:750px; rotate: 360deg; }
}
*/

/*
  isso move o quadrado assim que eu passo o mouse
  por cima dele, a animação dura dois segundos
  e retorna a seu estado inicial pelo caminho de ida
*/

.quadrado-placeholder:hover {
  background: #ddd;
  color: #333;
  animation: mover 2s alternate;
}

/*
 keyframes da animação fazendo com que ela
 rotacione e mova de posição pela tela
 enquanto o mouse está em cima
 (e chamada ao passar o mouse no quadrado)
*/

  @keyframes mover {

    0% { 
      transform: translate(0px, 0px);
      rotate: 0deg;
    }

    25% {
      transform: translate(50px, 50px);
      rotate: 90deg;
    }

    50% {
      transform: translate(0px, 0px);
      rotate: 180deg;
    }

    100% {
      transform: translate(-50px, -50px);
      rotate: 360deg;
    }

  }

/*
 quando o mouse não estiver em cima
 do quadrado uma animação chamada retorno
*/

.quadrado-placeholder:not(:hover) {
  animation: retorno 2s;
}

/*
 no inicio da animação o quadrado gira 360deg
*/

@keyframes retorno {

  0% {
    rotate: 360deg;
  }

}

/*
 direção dos quadrados se estarão em linha / coluna
*/

.imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*
 retangulo azul no fundo contendo os placeholders
*/

.retangulo {
  height: 540px;
  left: 0px;
  top: 540px;
  background: #1488F5;
}

section img {
  width: 311px;
  height: 310px;
  border-radius: 10px;
  margin: 10px;
}

/*
 footer 
*/

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  bottom: 0;
  width: 100%;
}