@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

:root {
    --azul-escuro: #0A2463;
    --azul-claro: #3E92CC;
    --branco-diferente: #FFFAFF;
    --branco-fundo: #e3ebee;
    --vermelho: #D8315B;
    --marrom: #1E1B18;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--branco-fundo);
}

/* NAVBAR */
nav {
    width: 400px;
    height: 70px;
    font-size: 20px;
    background-color: var(--branco-diferente);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    left: 6px;
    right: 0;
    z-index: 9999;
}

.campoEscondido {
    display: none;
    width: 300px;
    position: absolute;
    top: 9vh; /* Ajuste a posição vertical conforme necessário */
    right: 0;
    background-color: var(--branco-diferente);
    padding: 10px;
    z-index: 10000;
    flex-direction: column;
    gap: 5px;
}

nav ul {
    display: flex;
    width: 350px;
}

nav ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

nav ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

nav ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: var(--marrom);
    transition: 0.5s;
}

nav ul li.active a .icon {
    transform: translateY(-32px);
}

nav ul li a .text {
    position: absolute;
    color: var(--azul-escuro);
    font-weight: 400;
    font-size: 0.80em;
    letter-spacing: 0.05em;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20px);
}

nav ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicador {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--azul-claro);
    border-radius: 50%;
    border: 6px solid var(--branco-fundo);
    transition: 0.5;
}

.indicador::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--branco-fundo);
    z-index: 10;
}

.indicador::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--branco-fundo);
    z-index: 10;
}

nav ul li:nth-child(1).active ~ .indicador {
    transform: translateX(calc(70px * 0));
}

nav ul li:nth-child(2).active ~ .indicador {
    transform: translateX(calc(70px * 1));
}

nav ul li:nth-child(3).active ~ .indicador {
    transform: translateX(calc(70px * 2));
}

nav ul li:nth-child(4).active ~ .indicador {
    transform: translateX(calc(70px * 3));   
}

nav ul li:nth-child(5).active ~ .indicador {
    transform: translateX(calc(70px * 4));
    
}

/*HEADER*/
header {
    width: 100%;
    height: 9vh;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco-diferente);
}

header .logoCabuailo {
    width: 140px;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoCabuailo .imgLogo {
    width: 75%;
    height: 75%;

}

.textoLocal {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.iconeLocal {
    font-size: 20px;
    color: red;
    justify-content: center;
}


.textoLocal p {
    margin-top: 4px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa {
    width: 40px;
    height: 40px;
    font-size: 35px;
    margin-left: 15px;
    color: var(--marrom);
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.fotoPerfil {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
}

/* MAIN */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px; /* Ajuste a altura do header */
    padding-bottom: 60px; /* Ajuste a altura do nav */
    overflow-y: auto;
    height: calc(100vh - 120px);
    background-color: var(--branco-fundo);
}

main h {
    width: 90%;
    font-size: 1.4rem;
    display: flex;
    margin-top: 10px;
}

.boxCarrinho {
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--branco-diferente);
}

.lineCarrinho {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-right-radius: 10px;    
    border-top-left-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.lineCarrinho p {
    font-size: 1.1rem;
    display: flex;
    margin-left: 15px;
}

.containerProdutos {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.bottomCarrinho {
    width: 100%;
    height: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.boxCardProduto {
    width: 360;
    height: 110px;
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
    align-items: center;
    gap: 5px;
}

.boxImgProduto {
    width: 110px;
    height: 100%;
}

.imgProduto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boxCardProduto p {
    width: 150px;
}

.preco p {
    width: 55px;
}

.tirarCarrinho {
    font-size: 1.5rem;
    display: flex;
    margin-left: 5px;
    color: var(--vermelho);
}

.pagamento {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}

.entrega {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.limparCarrinho {
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #ff3636;
    color: #FFFFFF;
}

.confirmarCompra {
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: var(--azul-escuro);
    color: #FFFAFF;
}

.botoes {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
}
/*
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    color: black;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: white;
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    padding: 0 25px 0 45px;
}

.input-box .icon {
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 1.2em;
    color: black;
    z-index: 10;
}


.divCompras {
    width: 100%;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
}

.divCompras h1 {
    font-size: 1.5rem;
    font-family: 'Prompt', sans-serif;
}

.conteinerCompras {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 10px;
}

.conteinerCardCompras {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.cardCompras {
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--branco-diferente);
}

.imgProduto {
    width: 80px;
    height: 80px;
}

.cardCompras h4 {
    width: 90%;
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
}

.cardCompras p {
    color: #E0115F;
    text-decoration: line-through;
    font-size: 0.9rem;
}

.cardCompras p2 {
    color: #00c957;
    font-size: 1rem;
}